.tb-mcq .opt45 {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}
.tb-mcq .opt45:hover {
  border-color: #2196f2;
}
.tb-mcq .correctmcq.tb-wrng {
  background-color: green !important;
  color: #fff;
}
.tb-wrng {
  background-color: #df0000;
  color: #fff;
}
.tb-wrng,
.show-crctbox .correctmcq {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
@media print {
  .tb-mcq .opt45.correctmcq {
    background-color: green !important;
    color: #fff;
  }
  .tb-mcq .opt45 {
    background-color: #df0000;
    color: #fff;
  }
  .tb-mcq .crctbox {
    display: block !important;
  }
}
.showall-true .opt45.correctmcq {
  background-color: green !important;
  color: #fff;
}
.showall-true .opt45 {
  background-color: #df0000;
  color: #fff;
}
.showall-true .crctbox {
  display: block !important;
}

.show-crctbox .crctbox {
  display: block !important;
}
.show-crctbox .opt45.correctmcq {
  background-color: green !important;
  color: #fff;
}
