/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2196f2;
  --ifm-color-primary-dark: #0e95ff;
  --ifm-color-primary-darker: #2196f2;
  --ifm-color-primary-darkest: #0081e4;
  --ifm-color-primary-light: #2196f2;
  --ifm-color-primary-lighter: #2196f2;
  --ifm-color-primary-lightest: #2e8dd6;
  --ifm-code-font-size: 95%;
  --docusaurus-announcement-bar-height: auto !important;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

html[data-theme="dark"] #__docusaurus {
  background: linear-gradient(271deg, #000000, #04001c 100%) no-repeat !important;
}

html[data-theme="dark"] .footer--dark {
  border-top: 1px solid #ddd;
  --ifm-footer-background-color: #04001c;
}

html[data-theme="dark"]:root {
  --ifm-dropdown-hover-background-color: rgb(207 207 207 / 7%);
  --ifm-background-surface-color: #04001c;
  --collapse-button-bg-color-dark: #0a1746;
  --ifm-color-emphasis-200: #0e2472;
  --ifm-card-background-color: #080036;
}

html[data-theme="dark"] .card:hover {
  background-color: #0a1746 !important;
}

html[data-theme="dark"] .navbar--fixed-top {
  border-bottom: 1px solid #ddd;
}

.navbar__brand {
  margin-right: 0.5rem;
}

.navbar__logo {
  height: 4rem;
  margin-top: -11px;
  margin-right: 0px;
}

[class^="sidebarLogo"] img {
  height: 4rem !important;
  margin-top: 1px;
  margin-right: 0px !important;
}

.navbar__title {
  font-size: 19px;
  margin-bottom: 7px;
}

[class^="sidebarLogo"] b {
  font-size: 19px;
  margin-top: 7px;
}

.menu,
.navbar__link,
.navbar__items--right> :nth-last-child(2),
.navbar__toggle,
.navbar__item.dropdown.dropdown--hoverable {
  margin-bottom: 8px;
}

.navbar-sidebar__brand .navbar__brand .navbar__logo,
.navbar-sidebar__brand .navbar__brand .navbar__title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.hmcl2 {
  border: 2px solid;
}

.hmcl3 {
  margin: 20px 36px;
}

.blog-list-page main article,
.blog-tags-post-list-page article {
  border: 2px solid;
  padding: 15px;
  box-shadow: 7px 9px #2196f2;
  transition: 0.19s all;
}

.blog-list-page main article:hover,
.blog-tags-post-list-page article:hover {
  box-shadow: 0px 0px;
  border-color: #2196f2;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  line-height: 20px;
  padding: 7px 12px;
  border-radius: 5px;
  -webkit-user-select: none;
  user-select: none;
  color: #2196f2;
  background: transparent;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none !important;
  border: 2px solid;
  box-shadow: 2px 2px;
  transition: all 150ms ease-in-out;
  -webkit-tap-highlight-color: transparent !important;
}

.btn:active {
  background-color: #2196f2 !important;
  color: white;
  border-color: #2196f2 !important;
  transition: all 150ms ease-in-out;
  box-shadow: none;
}

.btn:hover,
.btn:focus {
  background-color: rgba(33, 150, 242, 0.07);
  box-shadow: 0px 0px 2px 2px;
}

.btn.back {
  margin: 10px;
}

@media (max-width: 500px) {
  .blog-wrapper [class^="blogPostTitle"] {
    font-size: 2rem !important;
  }

  .markdown h1:first-child {
    --ifm-h1-font-size: 2rem !important;
  }
}

@media print {
  footer.theme-doc-footer.docusaurus-mt-lg {
    margin-top: -2rem !important;
  }

  .hide-print-56,
  .theme-back-to-top-button,
  .theme-edit-this-page,
  .adsbygoogle {
    display: none !important;
  }

  * {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    -ms-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  div.container {
    background-color: linear-gradient(271deg, #000000, #04001c 100%) no-repeat !important;
  }

  div.container.padding-top--md.padding-bottom--lg:before,
  article[itemprop="blogPost"]:before {
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='499' height='60' viewBox='0 0 374.25 45'%3E%3Cdefs%3E%3Csymbol id='a' overflow='visible'%3E%3Cpath d='M8.637 0h6.476v-21.441h8.07v-5.532H.567v5.532h8.07zm0 0'/%3E%3C/symbol%3E%3Csymbol id='b' overflow='visible'%3E%3Cpath d='M7.5.566c3.258 0 5.797-1.59 7.047-3.898h.039l.074.68c.266 1.78 2.082 3.218 4.434 3.218 1.781 0 3.789-.605 4.96-1.777l-1.363-3.07c-.418.531-1.023.87-1.515.87-.606 0-.985-.53-.985-1.401v-7.5c0-4.848-3.675-7.84-9.355-7.84-5.57 0-9.32 2.914-9.66 6.93l5.644.87c.188-1.93 1.817-3.597 4.164-3.597 2.086 0 3.524 1.097 3.524 2.765 0 .797-.606 1.329-1.516 1.403l-3.75.453C3.45-10.723.566-8.297.566-4.961.566-1.629 3.45.566 7.5.566zM9.7-3.41c-1.934 0-3.337-.91-3.337-2.235 0-1.25 1.098-2.273 4.32-2.652l3.712-.418v.797c0 2.613-1.97 4.508-4.696 4.508zm0 0'/%3E%3C/symbol%3E%3Csymbol id='c' overflow='visible'%3E%3Cpath d='M1.516 0h5.796v-28.11H1.516zm0 0'/%3E%3C/symbol%3E%3Csymbol id='d' overflow='visible'%3E%3Cpath d='M12.465.758c4.164 0 7.8-1.781 9.355-4.356l-3.297-2.539c-1.136 1.555-3.41 2.653-5.832 2.653-3.183 0-5.53-1.82-5.87-4.621h14.316a9.69 9.69 0 0 0 .265-2.2c-.035-5.832-4.015-9.847-10.074-9.847C5.113-20.152.832-15.95.871-9.812c0 6.25 4.774 10.57 11.594 10.57zm-5.684-12.2c.34-2.726 2.121-4.581 4.547-4.581 2.387 0 4.016 1.703 4.203 4.582zm0 0'/%3E%3C/symbol%3E%3Csymbol id='e' overflow='visible'%3E%3Cpath d='M14.207-19.965c-3.07 0-5.492 1.477-6.895 4.094h-.039l-.87-3.524H1.515V0h5.796v-10.723c0-2.648 1.743-4.43 4.243-4.43 2.008 0 3.258 1.364 3.258 3.56V0h5.796v-13.371c0-4.129-2.425-6.594-6.402-6.594zm0 0'/%3E%3C/symbol%3E%3Csymbol id='f' overflow='visible'%3E%3Cpath d='M11.363.758c2.805 0 5.61-1.324 6.973-3.524l-1.742-3.636c-.91 1.668-2.2 2.5-3.942 2.5-1.703 0-3.03-1.29-3.03-3.41V-15h7.69v-4.395h-7.69v-6.593l-5.798 1.25v5.343H.188V-15h3.636v8.598c0 4.394 2.883 7.16 7.54 7.16zm0 0'/%3E%3C/symbol%3E%3Csymbol id='g' overflow='visible'%3E%3Cpath d='M2.082 0h14.094c6.176 0 9.66-2.727 9.66-7.5 0-3.41-1.856-5.645-5.152-6.29v-.038c2.918-.758 4.546-2.8 4.546-5.797 0-4.695-3.37-7.348-9.394-7.348H2.082zm6.48-15.797v-6.402h6.25c2.54 0 3.977 1.176 3.977 3.144 0 2.082-1.437 3.258-3.977 3.258zm0 10.985v-6.856H15c2.805 0 4.395 1.25 4.395 3.523 0 2.122-1.59 3.332-4.395 3.332zm0 0'/%3E%3C/symbol%3E%3Csymbol id='h' overflow='visible'%3E%3Cpath d='M12.5-20.004c-2.387 0-4.395 1.402-5.453 3.754h-.04l-.87-3.145H1.516V0h5.796v-10.57c0-3.18 1.325-5.075 3.485-5.075 1.668 0 2.765 1.364 2.953 3.75l4.887-1.328c-.453-4.316-2.766-6.78-6.137-6.78zm0 0'/%3E%3C/symbol%3E%3Csymbol id='i' overflow='visible'%3E%3Cpath d='M4.547-22.047c2.043 0 3.445-1.328 3.445-3.297 0-2.008-1.402-3.332-3.445-3.332-2.047 0-3.41 1.324-3.41 3.332 0 1.969 1.363 3.297 3.41 3.297zM1.668 0h5.758v-19.395H1.668zm0 0'/%3E%3C/symbol%3E%3Csymbol id='j' overflow='visible'%3E%3Cpath d='M11.328.758c5.531 0 9.695-3.41 10.227-8.41l-5.38-.758c-.304 2.652-2.234 4.469-4.66 4.469-2.8 0-4.847-2.309-4.886-5.758 0-3.446 1.894-5.758 4.508-5.758 1.968 0 3.675 1.363 4.093 3.902l5.266-1.363c-.836-4.32-4.625-7.234-9.512-7.234C4.961-20.152.871-15.91.871-9.7.871-3.484 5.078.758 11.328.758zm0 0'/%3E%3C/symbol%3E%3Csymbol id='k' overflow='visible'%3E%3Cpath d='M1.516 0h5.796v-6.21L9.47-8.485 14.508 0h6.402l-7.613-11.973 7.273-7.422h-6.742l-6.48 6.97h-.035V-28.11H1.516zm0 0'/%3E%3C/symbol%3E%3C/defs%3E%3Cpath fill='%23ff1616' d='M24.91-.977a.48.48 0 0 0-.078.008c-.027.004-.055.008-.078.016l-.074.023c-.024.012-.051.02-.075.032-.023.011-.043.027-.066.043a.238.238 0 0 0-.062.046c-.02.016-.04.036-.059.051a.394.394 0 0 0-.05.063.632.632 0 0 0-.082.133c-.013.023-.02.05-.028.074a.457.457 0 0 0-.02.078c-.008.023-.011.05-.015.074v.082a.536.536 0 0 0 .019.152l.434 1.97C12.652 4.921 5.14 17.015 7.844 29.21l1.39-.309c-.12-.539.114-1.297.641-1.965.527-.671 1.32-1.207 2.05-1.37.735-.16 1.68-.008 2.442.374.762.383 1.293.973 1.414 1.512l1.39-.312c-.12-.532.11-1.27.716-1.957.601-.688 1.543-1.282 2.636-1.524 1.098-.246 2.204-.101 3.04.266.835.367 1.359.937 1.476 1.472l1.39-.308c-.124-.555.083-1.281.657-1.953.465-.547 1.16-1.028 2.008-1.328 1.52 7.043 3.043 14.082 4.558 21.12H18.156c-.023 0-.047.005-.07.005-.023.004-.047.004-.07.007-.024.008-.047.012-.07.02a.204.204 0 0 0-.063.023.337.337 0 0 0-.067.028.894.894 0 0 1-.062.035c-.016.016-.035.027-.055.043-.02.015-.035.031-.054.047-.016.015-.032.035-.047.05-.016.02-.028.04-.043.06l-.035.058c-.012.02-.02.043-.032.062a1.27 1.27 0 0 1-.023.067.418.418 0 0 0-.016.07c-.008.023-.008.047-.012.07-.003.024-.003.047-.003.07 0 .024 0 .047.003.07.004.024.004.048.012.071a.409.409 0 0 0 .016.067l.023.066c.012.023.02.043.032.062a.894.894 0 0 0 .035.063c.015.02.027.039.043.055a.6.6 0 0 0 .047.05c.02.02.035.036.054.051.02.012.04.028.055.04a.35.35 0 0 0 .062.034c.02.012.043.024.067.032l.062.023c.024.008.047.012.07.016.024.004.047.008.07.008a.425.425 0 0 0 .071.003h16.18c.066.02.137.032.207.032.07 0 .14-.012.207-.032h14.031c.024 0 .047 0 .07-.003.024 0 .047-.004.07-.008.02-.004.044-.008.067-.016a1.27 1.27 0 0 0 .067-.023c.023-.008.043-.02.066-.032.02-.007.04-.02.059-.035.02-.011.039-.027.058-.039.016-.015.035-.031.051-.05.016-.016.035-.032.047-.051a.295.295 0 0 0 .043-.055.337.337 0 0 0 .039-.063c.008-.02.02-.039.027-.062a.338.338 0 0 0 .028-.066c.004-.024.011-.043.015-.067l.012-.07c0-.024.004-.047.004-.07 0-.024-.004-.047-.004-.07l-.012-.071c-.004-.024-.011-.047-.015-.07-.008-.02-.016-.043-.028-.067-.008-.02-.02-.043-.027-.062a.509.509 0 0 0-.04-.059.559.559 0 0 0-.042-.059.539.539 0 0 0-.047-.05l-.05-.047c-.02-.016-.04-.028-.06-.043l-.058-.035a.477.477 0 0 0-.066-.028.192.192 0 0 0-.067-.023c-.023-.008-.047-.012-.066-.02-.024-.004-.047-.004-.07-.007-.024 0-.047-.004-.07-.004H35.108c-1.539-7.14-3.082-14.278-4.62-21.418.91-.078 1.738.062 2.378.347.82.364 1.309.93 1.43 1.485l1.39-.309c-.117-.535.114-1.273.715-1.957.606-.687 1.547-1.285 2.641-1.527s2.2-.102 3.039.265c.836.368 1.355.942 1.473 1.473l1.39-.309c-.117-.539.114-1.296.645-1.964.527-.672 1.32-1.211 2.05-1.371.731-.165 1.68-.008 2.442.375.762.382 1.293.968 1.41 1.507v.004l1.39-.312C50.47 8.348 40.73.973 30.005 1.149c-1.3.019-2.617.16-3.938.41l-.433-1.97c-.008-.038-.024-.077-.04-.116a.586.586 0 0 0-.129-.21.597.597 0 0 0-.195-.152.59.59 0 0 0-.234-.08c-.043-.008-.086-.008-.125-.008zm5.121 3.547c9.09-.152 17.328 5.512 20.528 14.125-.996-.468-2.145-.683-3.227-.441-1.14.25-2.148.973-2.86 1.879-.28.355-.468.762-.644 1.172-.351-.305-.726-.594-1.176-.793-1.129-.492-2.52-.664-3.918-.352-1.398.309-2.59 1.05-3.402 1.977-.324.37-.543.797-.734 1.222-.344-.304-.707-.601-1.153-.8-1.07-.477-2.398-.637-3.812-.372h-.024a.821.821 0 0 0-.257.055c-1.41.324-2.575 1.055-3.352 1.973-.313.363-.508.781-.688 1.203-.351-.309-.726-.598-1.175-.797-1.13-.496-2.52-.664-3.922-.351-1.399.308-2.586 1.046-3.399 1.972-.324.371-.539.793-.73 1.219-.328-.297-.676-.59-1.078-.793-1.031-.52-2.25-.746-3.39-.492-1.083.242-2.028.922-2.735 1.762-.711-8.782 3.949-17.06 11.633-20.993l-.176.125-.05.051-.204.602.363.527.637.023.207-.144.05-.047.204-.605-.363-.528-.63-.023a20.791 20.791 0 0 1 1.9-.852l.093.184.629.105.222-.113.059-.043.277-.574-.007-.02c.398-.129.808-.242 1.222-.347l-.008.043.196.21.004.008.02.02.214.23.484-.05.18.003.125-.164.031-.027.04-.059.003-.007.192-.246-.075-.274c.461-.086.922-.16 1.38-.219l.195.332.234.098.07.012.618-.156.168-.407c.335-.02.675-.035 1.011-.043zm1.32.059-.632.074-.32.55.253.587.22.125.066.027.632-.078.32-.555-.253-.582-.219-.125zm2.126 1.234-.407.489.145.62.195.16.059.036.64.035.407-.492-.145-.621-.195-.16-.063-.035zm-5.649.34-.539.34-.05.637.132.215.047.05.598.23.539-.34.05-.636-.132-.21-.047-.055zm-3.383.766-.574.277-.117.223-.02.07.102.629.566.293.575-.277.117-.223.023-.066-.105-.63zm11.586.422-.468.43.062.636.172.184.055.043.628.117.47-.434-.067-.633-.168-.183-.059-.043zM29.7 6.55l-.597.23-.168.614.09.234.038.062.54.336.597-.23.168-.617-.09-.235-.039-.058zm-10.515.574-.633.086-.18.176-.039.058-.098.633.45.453.632-.086.176-.175.043-.06.094-.628zm19.144.152-.52.368-.019.636.145.207.05.047.606.2.523-.368.02-.637-.149-.203-.047-.05zm-14.594.559-.511.383-.075.242-.007.07.218.598.614.184.511-.383.07-.239.012-.07-.222-.601zm7.438 1.289-.621.164-.238.59.066.242.027.066.5.399.617-.164.239-.59-.063-.246-.031-.063zm9.148.371-.57.285-.117.625.113.227.043.055.566.289.575-.286.113-.625-.11-.226-.042-.059zm-22.8.059-.618.168-.152.199-.035.062-.012.641.504.39.613-.167.157-.2.03-.062.013-.637zm5.957 1.215-.465.437-.043.246v.07l.285.57.629.11.465-.433.043-.25v-.07l-.286-.571zm8.87 1.05-.624.13-.27.577.05.246.013.032v.004l.011.027.016-.004.43.422.629-.098.3-.566-.039-.246v-.004l-.008-.016-.003-.02-.028-.062zm9.587.188-.61.187-.219.602.075.238.035.063.512.379.613-.188.215-.601-.075-.239-.03-.062zm-25.704.199-.585.246-.13.219-.023.066.07.633.551.324.59-.25.125-.218.027-.063-.074-.637zm7.313 1.492-.441.461-.032.25.004.067v.015l.004.02v.004l.344.535.637.047.418-.48.015-.22h.004l-.004-.039v-.03l-.316-.552zm9.789.914-.637.067-.324.55.027.25.02.067.434.469.632-.067.328-.55-.027-.25-.02-.067zm9.8.133-.632.082-.316.555.035.25.02.066.44.461.633-.082.317-.555-.031-.25-.02-.066zm-27.773.277-.543.332-.093.23-.016.071.168.617.594.239.543-.336.093-.23.012-.075-.164-.613zm8.461 1.602-.394.5-.008.25.012.07.37.524.637.015.395-.504.004-.25-.012-.07-.367-.52zm10.297.82-.637.04-.347.535.012.25.02.066.413.488.637-.039.347-.535-.015-.25-.016-.07zm-19.168.496-.484.418-.055.246v.07l.262.583.625.137.484-.418.051-.247.004-.07-.266-.582zm9.985 1.559-.637.012-.371.52.004.25.015.07.39.503.638-.011.37-.52-.003-.25-.012-.07zm-9.938 1.395-.402.492-.012.25.008.074.36.527.64.028.402-.496.012-.25-.012-.07-.36-.528zM6.762 42.93l-.57.289-.114.625.438.468.246.043.57-.285.113-.629-.437-.464zm2.847 0-.57.289-.113.625.437.468.246.043.57-.285.114-.629-.434-.464zm2.852 0-.57.289-.114.625.434.468.25.043.566-.285.114-.629-.434-.464zm2.848 0-.57.289-.114.625.434.468.25.043.57-.285.113-.629-.437-.464zm36.32 0-.57.289-.114.625.438.468.246.043.57-.285.114-.629-.438-.464zm2.848 0-.57.289-.114.625.437.468.247.043.57-.285.113-.629-.433-.464zm-28.485 2.85-.57.285-.113.63.433.464.25.043.567-.285.113-.629-.434-.465zm2.848 0-.57.285-.114.63.434.464.25.043.57-.285.113-.629-.437-.465zm2.848 0-.57.285-.114.63.437.464.247.043.57-.285.113-.629-.437-.465zm2.847 0-.57.285-.11.63.434.464.246.043.57-.285.114-.629-.434-.465zm2.852 0-.57.285-.114.63.434.464.25.043.57-.285.11-.629-.434-.465zm2.847 0-.57.285-.113.63.433.464.25.043.57-.285.114-.629-.438-.465zm2.848 0-.57.285-.114.63.438.464.246.043.57-.285.114-.629-.438-.465zm0 0'/%3E%3Cpath fill='%232196f2' d='M37.676 27a2.536 2.536 0 0 0-2.524 2.527v.633c0 .766.364 1.43.907 1.895-.543.465-.907 1.129-.907 1.894 0 .766.364 1.43.907 1.895-.543.465-.907 1.133-.907 1.894v.633a2.536 2.536 0 0 0 2.524 2.527h11.761l-.457-.914s-.566-1.261-.566-1.93c0-.667.566-1.925.566-1.925l.458-.914H47.48c-.03-.05-.03-.031-.078-.125a2.503 2.503 0 0 1-.25-1.14c0-.528.13-.9.25-1.138.047-.097.047-.078.078-.124h1.958l-.458-.915s-.566-1.261-.566-1.93c0-.667.566-1.929.566-1.929l.458-.914zm0 1.266h9.8c-.16.453-.324 1.011-.324 1.578 0 .57.164 1.125.325 1.578h-9.801a1.251 1.251 0 0 1-1.262-1.262v-.633c0-.703.559-1.261 1.262-1.261zm0 4.422h8.496c-.133.359-.285.714-.285 1.261 0 .547.152.906.285 1.266h-2.18v1.262h3.485c-.16.453-.325 1.011-.325 1.578 0 .57.164 1.125.325 1.578h-9.801a1.251 1.251 0 0 1-1.262-1.262v-.633c0-.703.559-1.261 1.262-1.261h1.265v-1.262h-1.265a1.255 1.255 0 0 1-1.262-1.266c0-.703.559-1.261 1.262-1.261zm2.527 1.261v4.422l1.266-1.262 1.261 1.262V33.95zM28.055 28.84h-1.489v-1.488h-7.445v1.488h-1.488a1.49 1.49 0 0 0-1.488 1.488v.746c0 1.899 1.43 3.446 3.265 3.676a3.733 3.733 0 0 0 2.688 2.203v2.309H19.12v1.488h7.445v-1.488H23.59v-2.309a3.74 3.74 0 0 0 2.687-2.203c1.836-.23 3.266-1.777 3.266-3.676v-.746a1.49 1.49 0 0 0-1.488-1.488zm-10.422 2.234v-.746h1.488v2.844a2.241 2.241 0 0 1-1.488-2.098zm5.21 4.465a2.241 2.241 0 0 1-2.234-2.234V28.84h4.47v4.465a2.241 2.241 0 0 1-2.235 2.234zm5.212-4.465c0 .965-.625 1.785-1.489 2.098v-2.844h1.489zM20.43 20.617h-1.371v-3.953h-1.243V15.54h3.848v1.125H20.43zm13.93-8.601 1.671-.579c.653-.222 1.172-.292 1.555-.207.383.086.644.332.785.743.094.27.102.523.031.761a.993.993 0 0 1-.418.555l.008.031c.328-.023.59.035.785.172.196.137.344.356.446.649.148.433.105.836-.137 1.199-.242.36-.645.64-1.211.832l-1.867.644zm1.93 1.394.39-.133c.187-.062.316-.152.39-.261.078-.114.09-.246.035-.395-.09-.27-.34-.336-.746-.195l-.367.125zm.323.95.348 1.007.457-.156c.406-.137.547-.379.43-.719-.055-.16-.149-.265-.29-.312-.136-.051-.308-.04-.515.03zm0 0'/%3E%3Cg fill='%232196f2'%3E%3Cuse x='57.938' y='34.961' xlink:href='%23a'/%3E%3Cuse x='81.69' y='34.961' xlink:href='%23b'/%3E%3Cuse x='105.745' y='34.961' xlink:href='%23c'/%3E%3Cuse x='114.572' y='34.961' xlink:href='%23d'/%3E%3Cuse x='137.112' y='34.961' xlink:href='%23e'/%3E%3Cuse x='159.122' y='34.961' xlink:href='%23f'/%3E%3Cuse x='186.283' y='34.961' xlink:href='%23g'/%3E%3Cuse x='213.066' y='34.961' xlink:href='%23h'/%3E%3Cuse x='232.273' y='34.961' xlink:href='%23i'/%3E%3Cuse x='241.402' y='34.961' xlink:href='%23j'/%3E%3Cuse x='263.602' y='34.961' xlink:href='%23k'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 430px 64px;
    display: inline-block;
    width: 336px;
    height: 60px;
    background-repeat: no-repeat;
    content: "";
  }
}

.theme-edit-this-page {
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  color: var(--ifm-color-content-secondary);
  display: inline-block;
  padding: 5px 16px;
  margin: 3px;
  cursor: pointer;
}

.theme-edit-this-page:hover {
  background: var(--ifm-menu-color-background-hover);
  border-color: var(--ifm-link-color);
  color: var(--ifm-color-primary);
  text-decoration: none !important;
}

footer.theme-doc-footer.docusaurus-mt-lg {
  margin-top: 1rem;
}

footer.theme-doc-footer.docusaurus-mt-lg .col {
  flex: none;
}

[class^="announcementBar"] .clean-btn.close {
  color: #fff;
}

.theme-back-to-top-button:hover {
  background-color: #0d1b4d !important;
}

[data-theme='light'] img[src$='#gh-dark-mode-only'],
[data-theme='dark'] img[src$='#gh-light-mode-only'] {
  display: none;
}

@keyframes animatepage {
  0% {
    filter: contrast(9999) blur(420px);
  }

  50% {
    filter: contrast(5000) blur(60px);
  }

  100% {
    filter: contrast(0) blur(0px);
  }
}

main {
  animation: animatepage 0.3s;
}