@media screen and (min-width: 319px) {
  #category .category-img {
    display: none;
  }
}

#category {
  text-align: center;
  float: left;
  width: 100%;
  margin-bottom: 12px;
}

#category ul {
  display: inline-block;
  width: 100%;
  margin: 0px auto 0px;
  padding: 7px 0px;
}

#category ul li {
  border: 1px solid;
  list-style: none;
  display: inline-block;
  flex-wrap: wrap;
  width: 16%;
  flex-wrap: wrap;
  margin: 0px 0px 0px;
  padding: 16px 0px 5px;
  cursor: pointer;
}

#category .category-img {
  background: url(https://icdn.talentbrick.com/Static/copybook.png);
  background-size: 100% !important;
  height: 70px;
  width: 70px;
  display: block;
  margin: 0 auto;
}

#category .category-img3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23bbdefb' d='M6,10c0-2.209,1.791-4,4-4h28c2.209,0,4,1.791,4,4v28c0,2.209-1.791,4-4,4H10c-2.209,0-4-1.791-4-4 V10z'%3E%3C/path%3E%3Cpath fill='%231976d2' d='M21 32h-3V20.082l-3 1.043v-2.75L20.667 16H21V32zM31 32h-3V20.082l-3 1.043v-2.75L30.667 16H31V32z'%3E%3C/path%3E%3C/svg%3E");
}

#category .category-img5 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 512 512'%3E%3Cpath fill='%23d4e1f4' d='M127.46,350.49a136.874,136.874,0,0,1-53.26-91.6L55.1,112.35l-5.632-43.2C31.37,52.765,19.95,43.92,19.95,43.92l.02-.06L16,42.55l9.1,69.8L44.2,258.89A137.008,137.008,0,0,0,167.06,377.57q4.68.45,9.32.57a136.938,136.938,0,0,0,18.769-.786A136.628,136.628,0,0,1,127.46,350.49Z'%3E%3C/path%3E%3Cpath fill='%230635c9' d='M278.857,156.132a130.656,130.656,0,0,1,32.171,89.54l12,.327a143.048,143.048,0,0,0-73.63-128.914l-5.812,10.5A130.311,130.311,0,0,1,278.857,156.132Z'%3E%3C/path%3E%3Cpath fill='%230635c9' d='M282.166,181.388l-21.105,41.933a6,6,0,1,0,10.718,5.394l21.106-41.933a6,6,0,0,0-10.719-5.394Z'%3E%3C/path%3E%3Cpath fill='%231ae5be' d='M387.551,152c-.172-1.148-.374-2.3-.6-3.427a6,6,0,0,0-11.761,2.387c.187.922.354,1.867.494,2.809a6,6,0,0,0,5.927,5.116,6.123,6.123,0,0,0,.891-.066A6,6,0,0,0,387.551,152Z'%3E%3C/path%3E%3Cpath fill='%231ae5be' d='M378.478,127A66.871,66.871,0,0,0,321,94.71a6,6,0,0,0,0,12,54.954,54.954,0,0,1,47.234,26.536A6,6,0,0,0,378.478,127Z'%3E%3C/path%3E%3Cpath fill='%230635c9' d='M262.065,359.334q4.4-3.081,8.589-6.5a142.846,142.846,0,0,0,50.305-86.13l-11.824-2.046a130.847,130.847,0,0,1-46.083,78.891q-2.652,2.172-5.407,4.188-9.478-24.021-21.578-48.069l26.587-52.824a6,6,0,0,0-2.828-8.137,6.168,6.168,0,0,0-8,2.967l-22.576,44.856A718.685,718.685,0,0,0,180.274,207.8l26.893-78.876a6.135,6.135,0,0,0-2.955-7.509,6,6,0,0,0-8.337,3.444L171.652,195.9q-12.34-16.676-25.845-33.156c-8.761-10.687-17.473-20.791-25.977-30.265l3.558-47.062,97.843,32.387c1.706.565,3.42,1.171,5.1,1.8l4.234-11.227c-1.829-.691-3.7-1.353-5.561-1.968L17.885,37.855a6,6,0,0,0-7.835,6.471l14.137,108.45a6,6,0,1,0,11.9-1.552l-2.95-22.632,77.487,11.594c8.534,9.5,17.284,19.645,26.087,30.391S153.946,192.15,162,203.028L60.255,205.376a6,6,0,0,0,.137,12h.141l110.021-2.54a705.2,705.2,0,0,1,48.99,79L84.132,296.094a6.164,6.164,0,0,0-6.146,5.881,6,6,0,0,0,6,6.122h.1l141.6-2.359q12.246,24.411,21.733,48.8a130.773,130.773,0,0,1-70.872,18.605c-2.963-.083-5.963-.268-8.915-.549A131,131,0,0,1,50.149,259.113l-7.285-55.889a6,6,0,1,0-11.9,1.552l7.285,55.888A143,143,0,0,0,166.492,384.543l13.685.655a142.749,142.749,0,0,0,71.528-19.254c12.83,35.378,21.251,70.568,25.127,105.173a6,6,0,0,0,8.918,4.553,6.24,6.24,0,0,0,2.979-6.146C284.642,433.236,275.705,396.362,262.065,359.334ZM31.616,116.933l-7.991-61.3a849.613,849.613,0,0,1,74.1,70.491Zm79.977-34.68-2.877,38.064C84.6,94.4,62.852,73.993,47.375,60.256l64.318,21.29A5.869,5.869,0,0,0,111.593,82.253Z'%3E%3C/path%3E%3Cpath fill='%231ae5be' d='M493.557,294.054l-63.615-63.616a6,6,0,0,0-8.485,0l-5.7,5.7-7.8-7.8a109.97,109.97,0,1,0-20.878,20.875l7.805,7.805-5.7,5.7a6,6,0,0,0,0,8.486l63.616,63.616a28.825,28.825,0,0,0,40.764-40.766ZM222.775,161.859A97.822,97.822,0,1,1,320.6,259.682,97.933,97.933,0,0,1,222.775,161.859Zm173.463,79.547q2-1.9,3.907-3.905l7.125,7.125-3.906,3.906Zm5.667,25.555L425.7,243.167l8.106,8.1-23.794,23.8Zm83.167,59.372a16.843,16.843,0,0,1-23.8,0L418.5,283.552l23.8-23.794,42.781,42.781a16.825,16.825,0,0,1,0,23.794Z'%3E%3C/path%3E%3Cpath fill='%231ae5be' d='M320.6,71.882a89.978,89.978,0,1,0,89.978,89.977A90.079,90.079,0,0,0,320.6,71.882Zm0,167.955a77.978,77.978,0,1,1,77.978-77.978A78.066,78.066,0,0,1,320.6,239.837Z'%3E%3C/path%3E%3C/svg%3E");
}

#category .category-img6 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%237dd0f4' d='M33.11,485.39H210.86a10.16,10.16,0,0,0,8.94-15L143.5,329.09a10.29,10.29,0,0,1-1.23-4.89V264.45a3,3,0,0,0-3-3H104.67a3,3,0,0,0-3,3V324.2a10.29,10.29,0,0,1-1.24,4.89L24.17,470.41A10.16,10.16,0,0,0,33.11,485.39Zm97.81-139.14a6.31,6.31,0,1,1-6.3,6.31A6.3,6.3,0,0,1,130.92,346.25ZM110.61,364.9a8.53,8.53,0,1,1-8.53,8.53A8.53,8.53,0,0,1,110.61,364.9ZM47.8,459.7l27.8-51.49a11.22,11.22,0,0,1,9.85-5.87h73.07a11.19,11.19,0,0,1,9.84,5.87l27.8,51.49a7.36,7.36,0,0,1-6.48,10.86H54.28A7.36,7.36,0,0,1,47.8,459.7Z'%3E%3C/path%3E%3Cpath fill='%237dd0f4' d='M78.41,175.18A7,7,0,0,0,85.19,177l30.48-8.17a7,7,0,0,0,5-5l8.17-30.49A7,7,0,0,0,127,126.6L88.2,87.82A7,7,0,0,0,81.42,86L50.94,94.17a7,7,0,0,0-5,5l-8.16,30.49a7,7,0,0,0,1.81,6.78Z'%3E%3C/path%3E%3Cpath fill='%237dd0f4' d='M137.56,116a7,7,0,0,0,6.78,1.82l30.48-8.17a7,7,0,0,0,5-5L188,74.23a7,7,0,0,0-1.82-6.78L147.35,28.67a7,7,0,0,0-6.78-1.82L110.09,35a7,7,0,0,0-5,5L97,70.46a7,7,0,0,0,1.82,6.78Z'%3E%3C/path%3E%3Cpath fill='%237dd0f4' d='M178.74,124.17l-30.48,8.17a7,7,0,0,0-5,5l-8.17,30.49a7,7,0,0,0,1.81,6.77l38.79,38.79a7,7,0,0,0,6.78,1.82L213,207a7,7,0,0,0,5-5l8.16-30.49a7,7,0,0,0-1.81-6.78L185.52,126A7,7,0,0,0,178.74,124.17Z'%3E%3C/path%3E%3Cpath fill='%23ff9292' d='M375.06,234.89v-1.48a5.61,5.61,0,0,0-5.61-5.61H207.86a5.61,5.61,0,0,0-5.61,5.61v4A25.73,25.73,0,0,0,228,263.09h2.25a130.37,130.37,0,0,0,77.84,100,3.86,3.86,0,0,0,5-1.89L328.33,329a3.84,3.84,0,0,0-2-5.2,87.09,87.09,0,0,1-52-60.71h72.59A28.21,28.21,0,0,0,375.06,234.89Z'%3E%3C/path%3E%3Cpath fill='%23ff9292' d='M395.66,156.16a6.21,6.21,0,0,0,2.19,9.31,87,87,0,0,1-1.62,156.25,3.84,3.84,0,0,0-1.81,5.11L409.64,359a3.86,3.86,0,0,0,5.18,1.8,130.2,130.2,0,0,0,7.76-231.1,6.3,6.3,0,0,0-8.08,1.69Z'%3E%3C/path%3E%3Cpath fill='%23ff9292' d='M321.75,177.28l16.6,12.61a2.36,2.36,0,0,0,3.3-.45l6.26-8.24,4.8,3.65a2.33,2.33,0,0,0,1.43.48,2.37,2.37,0,0,0,1.88-.93L376.08,158l28-36.87,20.1-26.45a3.7,3.7,0,0,0-.71-5.17L395.64,68.35a3.69,3.69,0,0,0-5.17.71L322.3,158.79a2.35,2.35,0,0,0,.45,3.3l4.81,3.65L321.3,174A2.35,2.35,0,0,0,321.75,177.28Z'%3E%3C/path%3E%3Cpath fill='%23ff9292' d='M446.6,65.16a2.35,2.35,0,0,0-.45-3.3l-30-22.76a2.3,2.3,0,0,0-1.42-.48,2.35,2.35,0,0,0-1.88.93l-9.19,12.1a3.69,3.69,0,0,0,.7,5.17L432.24,78a3.69,3.69,0,0,0,5.17-.71Z'%3E%3C/path%3E%3Cpath fill='%23ff9292' d='M438.28,485.39A9.61,9.61,0,0,0,447,471.66L397.65,367.51,378.86,327.8l-8.16-17.22a9.75,9.75,0,0,0-17.62,0l-8.68,18.33-19,40.12L276.82,471.66a9.61,9.61,0,0,0,8.69,13.73H438.28ZM361.89,370.13a11.34,11.34,0,1,1,11.34-11.34A11.34,11.34,0,0,1,361.89,370.13Z'%3E%3C/path%3E%3Crect width='61.63' height='15.88' x='91.17' y='231.35' fill='%237dd0f4' rx='2.52' ry='2.52'%3E%3C/rect%3E%3Ccircle cx='93.37' cy='434.08' r='12.81' fill='%237dd0f4'%3E%3C/circle%3E%3Cpath fill='%237dd0f4' d='M153.23,460.4a12.11,12.11,0,1,0-12.11-12.11A12.11,12.11,0,0,0,153.23,460.4Z'%3E%3C/path%3E%3Ccircle cx='132.87' cy='419.16' r='8.25' fill='%237dd0f4'%3E%3C/circle%3E%3C/svg%3E");
}

#category .category-img7 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath fill='%2398ccfd' d='M9.564,38.5v-4.812c0-2.813-0.996-5.587-2.88-8.022c-2.041-2.638-3.12-5.804-3.12-9.156 c0-9.259,5.751-15.01,15.01-15.01c8.926,0,13.977,4.444,15.014,13.208l0.015,0.128l4.722,6.595c0.19,0.266,0.228,0.591,0.103,0.893 c-0.125,0.302-0.381,0.506-0.703,0.56l-4.161,0.694V31c0,1.93-1.57,3.5-3.5,3.5h-4.5v4H9.564z'%3E%3C/path%3E%3Cpath fill='%234788c7' d='M18.574,2c8.631,0,13.515,4.295,14.517,12.766l0.03,0.256l0.15,0.209l4.648,6.491 c0.12,0.167,0.081,0.329,0.047,0.411c-0.034,0.082-0.121,0.223-0.323,0.257L33.9,23.014l-0.836,0.139V24v7c0,1.654-1.346,3-3,3h-4 h-1v1v3h-15l0-4.312c0-2.925-1.032-5.804-2.985-8.328c-1.973-2.55-3.015-5.61-3.015-8.85C4.064,7.56,9.624,2,18.574,2 M18.574,1 C8.354,1,3.064,7.643,3.064,16.51c0,3.57,1.211,6.86,3.225,9.462c1.723,2.227,2.775,4.899,2.775,7.716l0,5.312h17v-4h4 c2.209,0,4-1.791,4-4v-7l3.743-0.624c1.041-0.173,1.539-1.378,0.925-2.236l-4.648-6.491C33.231,7.437,29.431,1,18.574,1L18.574,1z'%3E%3C/path%3E%3Cg%3E%3Cpath fill='%23fff' d='M27,19c0-0.587-0.08-1.154-0.216-1.699l1.653-1.688l-1.286-2.227l-2.286,0.587 c-0.816-0.79-1.823-1.381-2.946-1.701L21.286,10h-2.571l-0.634,2.273c-1.123,0.32-2.13,0.911-2.946,1.701l-2.286-0.587 l-1.286,2.227l1.653,1.688C13.08,17.846,13,18.413,13,19c0,0.587,0.08,1.154,0.216,1.699l-1.653,1.688l1.286,2.227l2.286-0.587 c0.816,0.79,1.823,1.381,2.946,1.701L18.714,28h2.571l0.634-2.273c1.123-0.32,2.13-0.911,2.946-1.701l2.286,0.587l1.286-2.227 l-1.653-1.688C26.92,20.154,27,19.587,27,19z M23,19c0,1.657-1.343,3-3,3s-3-1.343-3-3c0-1.657,1.343-3,3-3S23,17.343,23,19z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

#category .category-img4 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23bbdefb' d='M6,10c0-2.209,1.791-4,4-4h28c2.209,0,4,1.791,4,4v28c0,2.209-1.791,4-4,4H10c-2.209,0-4-1.791-4-4 V10z'%3E%3C/path%3E%3Cpath fill='%231976d2' d='M20 32h-3V20.082l-3 1.043v-2.75L19.667 16H20V32zM34 21c0 0 0-5-5-5s-5 5-5 5h3c0-.912.347-2 2-2 .529 0 1.935 0 2 2 0 1.72-2.327 4.393-3.894 5.653L27 26.737l-3 2.597v.284V32h10v-3h-5.026C28.974 29 34 25 34 21z'%3E%3C/path%3E%3C/svg%3E");
}

#category .category-img2 {
  background: url(https://icdn.talentbrick.com/Static/IMPQuesICON.svg);
}

#category .category-img1 {
  background: url(https://icdn.talentbrick.com/Static/MCQQuesICON.svg);
}

#category .category-img8 {
  background: url(https://icdn.talentbrick.com/Static/dyk.png);
}

#category ul li h6 {
  font-size: 14px;
  padding-top: 7px;
  margin-top: 0px;
  margin-bottom: 6px;
  color: inherit;
}

#category ul li a:hover {
  text-decoration: none !important;
}

#category ul li a:focus {
  text-decoration: none !important;
}

#category ul li:hover {
  box-shadow: 6px 6px #2196f2;
  transition: background 0.5s;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #category ul li {
    width: 49%;
  }
}

#h1 {
  text-align: center;
}
.row {
  justify-content: space-around;
}
